# Dart/Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.flutter_build_dir

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/release/
android/app/*.jks
android/app/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/*.Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/ServiceDefinitions.json
*.iml
*.ipr
*.iws

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# macOS
macos/Flutter/ephemeral/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
